<h2>Log In</h2>

<form action="/process-login" method="POST">
  <label>
    Email:
    <input type="email" name="email" placeholder="leia@resistance.com" />
  </label>

  <label>
    Password:
    <input type="password" name="originalPassword" placeholder="It's a secret" />
  </label>

  <button>Log In</button>
</form>
